[Desktop Entry]
Type=Service
Name=Send to...
Name[de]=Senden an...
Encoding=UTF-8
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=Action1;Action2;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Send to...
X-KDE-Submenu[de]=Senden an...

[Desktop Action Action1]
Name=Mailrecipient...
Name[de]=Mailenpfaenger...
Exec=ksm_sendto_mailrcpt %U
Icon=thunderbird
#Exec=kmail --attach %U
Icon=mail-attachment

[Desktop Action Action2]
Name=Bluetoothdevice...
Name[de]=Bluetoothgerät...
Exec=bluedevil-sendfile -f %F
Icon=network-bluetooth
